/* sprites created on http://css.spritegen.com/ */

/*header*/
.ddList1, .ddList2, .buttoninfoff,
#informerC, #telephone, .searchButton, .ar,
.be, .cn, .de, .en, .es,
.fr, .hi, .iconrss, .iconrss_off, .il,
.ko, .kz, .lv, .pt, .ro,
.ru, .tr, .ua {
    display: inline-block;
    background: url('../images/sprites/sprite_h.png') no-repeat;
    overflow: hidden;
}

#telephone:hover {
    background-position: 0 0;
    width: 115px;
    height: 35px
}

.ddList1:hover {
    background-position: -115px 0;
    width: 115px;
    height: 35px
}

.ddList2:hover {
    background-position: -230px 0;
    width: 115px;
    height: 35px
}

.ddList2 {
    background-position: 0 -35px;
    width: 115px;
    height: 35px
}

#telephone {
    background-position: -115px -35px;
    width: 115px;
    height: 35px
}

.ddList1 {
    background-position: -230px -35px;
    width: 115px;
    height: 35px
}

.searchButton {
    background-position: 0 -70px;
    width: 35px;
    height: 35px
}

#informerC {
    background-position: -35px -70px;
    width: 115px;
    height: 35px
}

#informerC:hover {
    background-position: -150px -70px;
    width: 115px;
    height: 35px
}

.buttoninfoff {
    background-position: 0 -105px;
    width: 13px;
    height: 13px
}

.iconrss {
    background-position: -13px -105px;
    width: 13px;
    height: 13px
}

.iconrss_off {
    background-position: -13px -105px;
    width: 13px;
    height: 13px;
    opacity: 0.5;
}

.ua {
    background-position: -26px -105px;
    width: 13px;
    height: 9px
}

.lv {
    background-position: -39px -105px;
    width: 13px;
    height: 9px
}

.ro {
    background-position: -52px -105px;
    width: 13px;
    height: 9px
}

.tr {
    background-position: -65px -105px;
    width: 13px;
    height: 9px
}

.kz {
    background-position: -78px -105px;
    width: 13px;
    height: 9px
}

.ru {
    background-position: -91px -105px;
    width: 13px;
    height: 9px
}

.pt {
    background-position: -104px -105px;
    width: 13px;
    height: 9px
}

.fr {
    background-position: -117px -105px;
    width: 13px;
    height: 9px
}

.de {
    background-position: -130px -105px;
    width: 13px;
    height: 9px
}

.cn {
    background-position: -143px -105px;
    width: 13px;
    height: 9px
}

.be {
    background-position: -156px -105px;
    width: 13px;
    height: 9px
}

.en {
    background-position: -169px -105px;
    width: 13px;
    height: 9px
}

.es {
    background-position: -182px -105px;
    width: 13px;
    height: 9px
}

.il {
    background-position: -195px -105px;
    width: 13px;
    height: 9px
}

.hi {
    background-position: -208px -105px;
    width: 13px;
    height: 9px
}

.ar {
    background-position: -221px -105px;
    width: 13px;
    height: 9px
}

.ko {
    background-position: -234px -105px;
    width: 13px;
    height: 9px
}

/*content & weather*/
/*префикс img- относится к осадкам для избежания ошибки с именем, начинающимся с 0*/
.icon-sea, .cd0, .cd1, .cd2, .cd3,
.cd4, .cd5, .cd6, .cd7, .cn0,
.cn1, .cn2, .cn3, .cn4, .cn5,
.cn6, .cn7, .phase0, .phase1, .phase2,
.phase3, .phase4, .phase5, .phase6, .phase7,
.phase8, .weather, .img-0, .img-0_left, .icontime,
.icontime-gray, .img-o1d1, .img-o1d10, .img-o1d10_left, .img-o1d1_left,
.img-o1d2, .img-o1d2_left, .img-o1d3, .img-o1d3_left, .img-o1d4,
.img-o1d4_left, .img-o1d5, .img-o1d5_left, .img-o1d6, .img-o1d6_left,
.img-o1d7, .img-o1d7_left, .img-o1d8, .img-o1d8_left, .img-o1d9,
.img-o1d9_left, .img-o2d1, .img-o2d10, .img-o2d10_left, .img-o2d1_left,
.img-o2d2, .img-o2d2_left, .img-o2d3, .img-o2d3_left, .img-o2d4,
.img-o2d4_left, .img-o2d5, .img-o2d5_left, .img-o2d6, .img-o2d6_left,
.img-o2d7, .img-o2d7_left, .img-o2d8, .img-o2d8_left, .img-o2d9,
.img-o2d9_left, .img-o3d1, .img-o3d10, .img-o3d10_left, .img-o3d1_left,
.img-o3d2, .img-o3d2_left, .img-o3d3, .img-o3d3_left, .img-o3d4,
.img-o3d4_left, .img-o3d5, .img-o3d5_left, .img-o3d6, .img-o3d6_left,
.img-o3d7, .img-o3d7_left, .img-o3d8, .img-o3d8_left, .img-o3d9,
.img-o3d9_left, .window-close-a, .iconmetar, .warning,
.windclose, .windowclose, .arrow-down-blue, .strelka_left_blue, .strelka_left_gray,
.strelka_right_blue, .strelka_right_gray, .topmenulc, .iconarrow,
#forecastHeaderLc, #forecastHeaderRc {
    display: inline-block;
    background: url('../images/sprites/sprite_w.png') no-repeat;
    overflow: hidden;
}

#forecastHeaderRc {
    background-position: 0 0;
    width: 5px;
    height: 34px
}

#forecastHeaderLc {
    background-position: -5px 0;
    width: 5px;
    height: 34px
}

.topMenuLc {
    background-position: -10px 0;
    width: 5px;
    height: 30px
}

.topMenuRc {
    background-position: -15px 0;
    width: 5px;
    height: 30px
}

.img-o2d6 {
    background-position: -20px 0;
    width: 17px;
    height: 27px
}

.img-o2d6_left {
    background-position: -38px 0;
    width: 17px;
    height: 27px
}

.img-o2d5 {
    background-position: -56px 0;
    width: 17px;
    height: 27px
}

.img-o2d7 {
    background-position: -74px 0;
    width: 17px;
    height: 27px
}

.img-o2d5_left {
    background-position: -92px 0;
    width: 17px;
    height: 27px
}

.img-o2d8_left {
    background-position: -110px 0;
    width: 17px;
    height: 27px
}

.img-o2d9 {
    background-position: -128px 0;
    width: 17px;
    height: 27px
}

.img-o2d4_left {
    background-position: -146px 0;
    width: 17px;
    height: 27px
}

.img-o2d8 {
    background-position: -164px 0;
    width: 17px;
    height: 27px
}

.img-o2d7_left {
    background-position: -182px 0;
    width: 17px;
    height: 27px
}

.img-o2d3 {
    background-position: -200px 0;
    width: 17px;
    height: 27px
}

.img-o2d10_left {
    background-position: -218px 0;
    width: 17px;
    height: 27px
}

.img-o2d10 {
    background-position: -236px 0;
    width: 17px;
    height: 27px
}

.img-o2d1 {
    background-position: -254px 0;
    width: 17px;
    height: 27px
}

.img-o2d1_left {
    background-position: -272px 0;
    width: 17px;
    height: 27px
}

.img-o2d2 {
    background-position: -290px 0;
    width: 17px;
    height: 27px
}

.img-0 {
    background-position: -308px 0;
    width: 17px;
    height: 27px
}

.img-o2d9_left {
    background-position: -326px 0;
    width: 17px;
    height: 27px
}

.img-o2d2_left {
    background-position: -344px 0;
    width: 17px;
    height: 27px
}

.img-o2d4 {
    background-position: -362px 0;
    width: 17px;
    height: 27px
}

.img-o3d10_left {
    background-position: -380px 0;
    width: 17px;
    height: 27px
}

.img-o3d7 {
    background-position: -398px 0;
    width: 17px;
    height: 27px
}

.img-o3d6_left {
    background-position: 0 -34px;
    width: 17px;
    height: 27px
}

.img-o3d6 {
    background-position: -18px -34px;
    width: 17px;
    height: 27px
}

.img-o3d5_left {
    background-position: -36px -34px;
    width: 17px;
    height: 27px
}

.img-o3d7_left {
    background-position: -54px -34px;
    width: 17px;
    height: 27px
}

.img-o3d8 {
    background-position: -72px -34px;
    width: 17px;
    height: 27px
}

.img-o3d9_left {
    background-position: -90px -34px;
    width: 17px;
    height: 27px
}

.img-o3d9 {
    background-position: -108px -34px;
    width: 17px;
    height: 27px
}

.img-o3d8_left {
    background-position: -126px -34px;
    width: 17px;
    height: 27px
}

.img-o3d5 {
    background-position: -144px -34px;
    width: 17px;
    height: 27px
}

.img-o3d4_left {
    background-position: -162px -34px;
    width: 17px;
    height: 27px
}

.img-o3d1_left {
    background-position: -180px -34px;
    width: 17px;
    height: 27px
}

.img-o1d9_left {
    background-position: -198px -34px;
    width: 17px;
    height: 27px
}

.img-o3d10 {
    background-position: -216px -34px;
    width: 17px;
    height: 27px
}

.img-o3d2 {
    background-position: -234px -34px;
    width: 17px;
    height: 27px
}

.img-o3d2_left {
    background-position: -252px -34px;
    width: 17px;
    height: 27px
}

.img-o3d4 {
    background-position: -270px -34px;
    width: 17px;
    height: 27px
}

.img-o3d3_left {
    background-position: -288px -34px;
    width: 17px;
    height: 27px
}

.img-o3d3 {
    background-position: -306px -34px;
    width: 17px;
    height: 27px
}

.img-o3d1 {
    background-position: -324px -34px;
    width: 17px;
    height: 27px
}

.img-o2d3_left {
    background-position: -342px -34px;
    width: 17px;
    height: 27px
}

.img-o1d2 {
    background-position: -360px -34px;
    width: 17px;
    height: 27px
}

.img-o1d2_left {
    background-position: -378px -34px;
    width: 17px;
    height: 27px
}

.img-o1d3 {
    background-position: -396px -34px;
    width: 17px;
    height: 27px
}

.img-o1d3_left {
    background-position: 0 -68px;
    width: 17px;
    height: 27px
}

.img-o1d1_left {
    background-position: -18px -68px;
    width: 17px;
    height: 27px
}

.img-o1d10_left {
    background-position: -36px -68px;
    width: 17px;
    height: 27px
}

.img-o1d9 {
    background-position: -54px -68px;
    width: 17px;
    height: 27px
}

.img-0_left {
    background-position: -72px -68px;
    width: 17px;
    height: 27px
}

.img-o1d1 {
    background-position: -90px -68px;
    width: 17px;
    height: 27px
}

.img-o1d4 {
    background-position: -108px -68px;
    width: 17px;
    height: 27px
}

.img-o1d10 {
    background-position: -126px -68px;
    width: 17px;
    height: 27px
}

.img-o1d7_left {
    background-position: -144px -68px;
    width: 17px;
    height: 27px
}

.img-o1d8 {
    background-position: -162px -68px;
    width: 17px;
    height: 27px
}

.img-o1d8_left {
    background-position: -180px -68px;
    width: 17px;
    height: 27px
}

.img-o1d4_left {
    background-position: -198px -68px;
    width: 17px;
    height: 27px
}

.img-o1d7 {
    background-position: -216px -68px;
    width: 17px;
    height: 27px
}

.img-o1d5 {
    background-position: -234px -68px;
    width: 17px;
    height: 27px
}

.img-o1d5_left {
    background-position: -252px -68px;
    width: 17px;
    height: 27px
}

.img-o1d6 {
    background-position: -270px -68px;
    width: 17px;
    height: 27px
}

.img-o1d6_left {
    background-position: -288px -68px;
    width: 17px;
    height: 27px
}

.phase2 {
    background-position: -306px -68px;
    width: 25px;
    height: 26px
}

.phase3 {
    background-position: -331px -68px;
    width: 25px;
    height: 26px
}

.phase0 {
    background-position: -356px -68px;
    width: 25px;
    height: 26px
}

.phase4 {
    background-position: -381px -68px;
    width: 25px;
    height: 26px
}

.phase1 {
    background-position: 0 -102px;
    width: 25px;
    height: 26px
}

.phase8 {
    background-position: -25px -102px;
    width: 25px;
    height: 26px
}

.phase5 {
    background-position: -50px -102px;
    width: 25px;
    height: 26px
}

.phase7 {
    background-position: -75px -102px;
    width: 25px;
    height: 26px
}

.phase6 {
    background-position: -100px -102px;
    width: 25px;
    height: 26px
}

.cd3 {
    background-position: -125px -102px;
    width: 30px;
    height: 25px
}

.cd4 {
    background-position: -155px -102px;
    width: 30px;
    height: 25px
}

.cd2 {
    background-position: -185px -102px;
    width: 30px;
    height: 25px
}

.cd0 {
    background-position: -215px -102px;
    width: 30px;
    height: 25px
}

.cd1 {
    background-position: -245px -102px;
    width: 30px;
    height: 25px
}

.cd5 {
    background-position: -275px -102px;
    width: 30px;
    height: 25px
}

.cn3 {
    background-position: -305px -102px;
    width: 30px;
    height: 25px
}

/*.iconmap {background-position: -335px -102px ; width: 10px; height: 25px;}*/
/*.iconarchive {background-position: -345px -102px ; width: 17px; height: 25px}*/
.cd6 {
    background-position: -362px -102px;
    width: 30px;
    height: 25px
}

.icontime {
    background-position: 0 -136px;
    width: 18px;
    height: 25px
}

.icon_sea {
    background-position: -18px -136px;
    width: 33px;
    height: 25px
}

.icontime-gray {
    background-position: -51px -136px;
    width: 18px;
    height: 25px
}

.cn7 {
    background-position: -69px -136px;
    width: 30px;
    height: 25px
}

.iconmetar {
    background-position: -99px -136px;
    width: 17px;
    height: 25px
}

.cd7 {
    background-position: -116px -136px;
    width: 30px;
    height: 25px
}

.cn6 {
    background-position: -146px -136px;
    width: 30px;
    height: 25px
}

.cn1 {
    background-position: -176px -136px;
    width: 30px;
    height: 25px
}

.cn0 {
    background-position: -206px -136px;
    width: 30px;
    height: 25px
}

.cn2 {
    background-position: -236px -136px;
    width: 30px;
    height: 25px
}

.cn5 {
    background-position: -266px -136px;
    width: 30px;
    height: 25px
}

.cn4 {
    background-position: -296px -136px;
    width: 30px;
    height: 25px
}

.weather {
    background-position: -326px -136px;
    width: 24px;
    height: 20px
}

.window_close_a {
    background-position: -350px -136px;
    width: 18px;
    height: 18px
}

.warning {
    background-position: -368px -136px;
    width: 16px;
    height: 16px
}

.windowclose {
    background-position: -399px -136px;
    width: 16px;
    height: 16px
}

.windclose {
    background-position: -400px -136px;
    width: 12px;
    height: 12px
}

.strelka_right_gray {
    background-position: 0 -170px;
    width: 5px;
    height: 9px
}

.strelka_left_blue {
    background-position: -5px -170px;
    width: 5px;
    height: 9px
}

.strelka_left_gray {
    background-position: -10px -170px;
    width: 5px;
    height: 9px
}

.strelka_right_blue {
    background-position: -15px -170px;
    width: 5px;
    height: 9px
}

.iconarrow {
    background-position: -20px -170px;
    width: 3px;
    height: 5px
}

.arrow_down_blue {
    background-position: -23px -170px;
    width: 9px;
    height: 5px
}

/*ЯВЛЕНИЯ ПОГОДЫ*/
/*Фракции*/
.wp_fog, .wp_haze, .wp_fog_danger {
    background-image: url("../images/sprites/sprite_wp_fr.png");
    text-align: center;
    display: inline-block;
}

.wp_fog {
    background-position: 0 0;
    width: 35px;
    height: 22px
}

.wp_haze {
    background-position: -36px 0;
    width: 35px;
    height: 22px
}

.wp_fog_danger {
    background-position: -72px 2px;
    width: 35px;
    height: 22px
}

/*Ливневые осадки по старым картинкам*/
.wp_o2d9_left, .wp_o2d9, .wp_o3d1, .wp_o3d10, .wp_o3d1_left, .wp_o3d10_left, .wp_o2d8_left, .wp_o2d8, .wp_o2d5_left, .wp_o2d5, .wp_o2d6, .wp_o2d6_left, .wp_o2d7_left, .wp_o2d7, .wp_o3d2, .wp_o3d2_left, .wp_o3d7_left, .wp_o3d7, .wp_o3d8, .wp_o3d8_left, .wp_o3d9_left, .wp_o3d9, .wp_o3d6_left, .wp_o3d6, .wp_o3d3_left, .wp_o3d3, .wp_o3d4, .wp_o3d4_left, .wp_o3d5_left, .wp_o3d5, .wp_o2d4_left, .wp_o2d4, .wp_o1d4, .wp_o1d3_left, .wp_o1d4_left, .wp_o1d5, .wp_o1d6, .wp_o1d5_left, .wp_o1d3, .wp_o1d2_left, .wp_o1d1, .wp_0_left, .wp_o1d10, .wp_o1d10_left, .wp_o1d2, .wp_o1d1_left, .wp_o1d6_left, .wp_o1d7, .wp_o2d1_left, .wp_o2d10_left, .wp_o2d2, .wp_o2d2_left, .wp_o2d3_left, .wp_o2d3, .wp_o2d10, .wp_o2d1, .wp_o1d8, .wp_o1d7_left, .wp_o1d8_left, .wp_o1d9, .wp_o1d9_left, .wp_0 {
    background-image: url("../images/sprites/sprite_wp_pr_conv.png");
    text-align: center;
    display: inline-block;
}

.wp_o2d9_left {
    background-position: 0 0;
    width: 17px;
    height: 27px
}

.wp_o2d9 {
    background-position: -18px 0;
    width: 17px;
    height: 27px
}

.wp_o3d1 {
    background-position: -36px 0;
    width: 17px;
    height: 27px
}

.wp_o3d10 {
    background-position: -54px 0;
    width: 17px;
    height: 27px
}

.wp_o3d1_left {
    background-position: -72px 0;
    width: 17px;
    height: 27px
}

.wp_o3d10_left {
    background-position: -90px 0;
    width: 17px;
    height: 27px
}

.wp_o2d8_left {
    background-position: -108px 0;
    width: 17px;
    height: 27px
}

.wp_o2d8 {
    background-position: -126px 0;
    width: 17px;
    height: 27px
}

.wp_o2d5_left {
    background-position: -144px 0;
    width: 17px;
    height: 27px
}

.wp_o2d5 {
    background-position: -162px 0;
    width: 17px;
    height: 27px
}

.wp_o2d6 {
    background-position: -180px 0;
    width: 17px;
    height: 27px
}

.wp_o2d6_left {
    background-position: -198px 0;
    width: 17px;
    height: 27px
}

.wp_o2d7_left {
    background-position: -216px 0;
    width: 17px;
    height: 27px
}

.wp_o2d7 {
    background-position: 0 -27px;
    width: 17px;
    height: 27px
}

.wp_o3d2 {
    background-position: -18px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d2_left {
    background-position: -36px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d7_left {
    background-position: -54px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d7 {
    background-position: -72px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d8 {
    background-position: -90px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d8_left {
    background-position: -108px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d9_left {
    background-position: -126px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d9 {
    background-position: -144px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d6_left {
    background-position: -162px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d6 {
    background-position: -180px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d3_left {
    background-position: -198px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d3 {
    background-position: -216px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d4 {
    background-position: 0 -54px;
    width: 17px;
    height: 27px
}

.wp_o3d4_left {
    background-position: -18px -54px;
    width: 17px;
    height: 27px
}

.wp_o3d5_left {
    background-position: -36px -54px;
    width: 17px;
    height: 27px
}

.wp_o3d5 {
    background-position: -54px -54px;
    width: 17px;
    height: 27px
}

.wp_o2d4_left {
    background-position: -72px -54px;
    width: 17px;
    height: 27px
}

.wp_o2d4 {
    background-position: -90px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d4 {
    background-position: -108px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d3_left {
    background-position: -126px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d4_left {
    background-position: -144px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d5 {
    background-position: -162px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d6 {
    background-position: -180px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d5_left {
    background-position: -198px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d3 {
    background-position: -216px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d2_left {
    background-position: 0 -81px;
    width: 17px;
    height: 27px
}

.wp_o1d1 {
    background-position: -18px -81px;
    width: 17px;
    height: 27px
}

.wp_0_left {
    background-position: -36px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d10 {
    background-position: -54px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d10_left {
    background-position: -72px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d2 {
    background-position: -90px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d1_left {
    background-position: -108px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d6_left {
    background-position: -126px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d7 {
    background-position: -144px -81px;
    width: 17px;
    height: 27px
}

.wp_o2d1_left {
    background-position: -162px -81px;
    width: 17px;
    height: 27px
}

.wp_o2d10_left {
    background-position: -180px -81px;
    width: 17px;
    height: 27px
}

.wp_o2d2 {
    background-position: -198px -81px;
    width: 17px;
    height: 27px
}

.wp_o2d2_left {
    background-position: -216px -81px;
    width: 17px;
    height: 27px
}

.wp_o2d3_left {
    background-position: 0 -108px;
    width: 17px;
    height: 27px
}

.wp_o2d3 {
    background-position: -18px -108px;
    width: 17px;
    height: 27px
}

.wp_o2d10 {
    background-position: -36px -108px;
    width: 17px;
    height: 27px
}

.wp_o2d1 {
    background-position: -54px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d8 {
    background-position: -72px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d7_left {
    background-position: -90px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d8_left {
    background-position: -108px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d9 {
    background-position: -126px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d9_left {
    background-position: -144px -108px;
    width: 17px;
    height: 27px
}

.wp_0 {
    background-position: -162px -108px;
    width: 17px;
    height: 27px
}

/*Новые обложные осадки*/
.wp_o3d3d, .wp_o3d3d_left, .wp_o3d4d, .wp_o3d4d_left, .wp_o3d2d_left, .wp_o3d2d, .wp_o3d10d_left, .wp_o3d1d, .wp_o3d1d_left, .wp_o3d5d, .wp_o3d5d_left, .wp_o3d8d_left, .wp_o3d9d, .wp_o3d9d_left, .wp_o3d8d, .wp_o3d7d_left, .wp_o3d6d, .wp_o3d6d_left, .wp_o3d7d, .wp_o3d10d, .wp_o1d9d_left, .wp_o1d3d, .wp_o1d3d_left, .wp_o1d4d, .wp_o1d2d_left, .wp_o1d2d, .wp_o1d10d_left, .wp_o1d1d, .wp_o1d1d_left, .wp_o1d4d_left, .wp_o1d5d, .wp_o1d8d, .wp_o1d8d_left, .wp_o1d9d, .wp_o1d7d_left, .wp_o1d7d, .wp_o1d5d_left, .wp_o1d6d, .wp_o1d6d_left, .wp_o1d10d {
    background-image: url("../images/sprites/sprite_wp_pr_dyn.png");
    text-align: center;
    display: inline-block;
}

.wp_o3d3d {
    background-position: 0 0;
    width: 17px;
    height: 27px
}

.wp_o3d3d_left {
    background-position: -18px 0;
    width: 17px;
    height: 27px
}

.wp_o3d4d {
    background-position: -36px 0;
    width: 17px;
    height: 27px
}

.wp_o3d4d_left {
    background-position: -54px 0;
    width: 17px;
    height: 27px
}

.wp_o3d2d_left {
    background-position: -72px 0;
    width: 17px;
    height: 27px
}

.wp_o3d2d {
    background-position: -90px 0;
    width: 17px;
    height: 27px
}

.wp_o3d10d_left {
    background-position: -108px 0;
    width: 17px;
    height: 27px
}

.wp_o3d1d {
    background-position: -126px 0;
    width: 17px;
    height: 27px
}

.wp_o3d1d_left {
    background-position: 0 -27px;
    width: 17px;
    height: 27px
}

.wp_o3d5d {
    background-position: -18px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d5d_left {
    background-position: -36px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d8d_left {
    background-position: -54px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d9d {
    background-position: -72px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d9d_left {
    background-position: -90px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d8d {
    background-position: -108px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d7d_left {
    background-position: -126px -27px;
    width: 17px;
    height: 27px
}

.wp_o3d6d {
    background-position: 0 -54px;
    width: 17px;
    height: 27px
}

.wp_o3d6d_left {
    background-position: -18px -54px;
    width: 17px;
    height: 27px
}

.wp_o3d7d {
    background-position: -36px -54px;
    width: 17px;
    height: 27px
}

.wp_o3d10d {
    background-position: -54px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d9d_left {
    background-position: -72px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d3d {
    background-position: -90px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d3d_left {
    background-position: -108px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d4d {
    background-position: -126px -54px;
    width: 17px;
    height: 27px
}

.wp_o1d2d_left {
    background-position: 0 -81px;
    width: 17px;
    height: 27px
}

.wp_o1d2d {
    background-position: -18px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d10d_left {
    background-position: -36px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d1d {
    background-position: -54px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d1d_left {
    background-position: -72px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d4d_left {
    background-position: -90px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d5d {
    background-position: -108px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d8d {
    background-position: -126px -81px;
    width: 17px;
    height: 27px
}

.wp_o1d8d_left {
    background-position: 0 -108px;
    width: 17px;
    height: 27px
}

.wp_o1d9d {
    background-position: -18px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d7d_left {
    background-position: -36px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d7d {
    background-position: -54px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d5d_left {
    background-position: -72px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d6d {
    background-position: -90px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d6d_left {
    background-position: -108px -108px;
    width: 17px;
    height: 27px
}

.wp_o1d10d {
    background-position: -126px -108px;
    width: 17px;
    height: 27px
}


/*Опасные осадки - замерзающий дождь*/
.wp_o4d6_danger, .wp_o4d7_danger, .wp_o4d8_danger, .wp_o4d9_danger, .wp_o4d5_danger, .wp_o4d4_danger, .wp_o4d1_danger, .wp_o4d2_danger, .wp_o4d3_danger, .wp_o4d10_danger {
    background-image: url("../images/sprites/sprite_wp_danger.png");
    text-align: center;
    display: inline-block;
}

.wp_o4d6_danger {
    background-position: 0 0;
    width: 17px;
    height: 27px
}

.wp_o4d7_danger {
    background-position: -18px 0;
    width: 17px;
    height: 27px
}

.wp_o4d8_danger {
    background-position: -36px 0;
    width: 17px;
    height: 27px
}

.wp_o4d9_danger {
    background-position: -54px 0;
    width: 17px;
    height: 27px
}

.wp_o4d5_danger {
    background-position: -72px 0;
    width: 17px;
    height: 27px
}

.wp_o4d4_danger {
    background-position: 0 -27px;
    width: 17px;
    height: 27px
}

.wp_o4d1_danger {
    background-position: -18px -27px;
    width: 17px;
    height: 27px
}

.wp_o4d2_danger {
    background-position: -36px -27px;
    width: 17px;
    height: 27px
}

.wp_o4d3_danger {
    background-position: -54px -27px;
    width: 17px;
    height: 27px
}

.wp_o4d10_danger {
    background-position: -72px -27px;
    width: 17px;
    height: 27px
}

/*Обильные осадки*/
/*дождь/снег ливневые*/
.wp_o3d9_strong, .wp_o3d10_strong, .wp_o1d9_strong, .wp_o1d10_strong {
    background-image: url("../images/sprites/sprite_wp_pr_conv_strong.png");
    text-align: center;
    display: inline-block;
}

.wp_o3d9_strong {
    background-position: 0 0;
    width: 17px;
    height: 27px
}

.wp_o3d10_strong {
    background-position: -18px 0;
    width: 17px;
    height: 27px
}

.wp_o1d9_strong {
    background-position: -36px 0;
    width: 17px;
    height: 27px
}

.wp_o1d10_strong {
    background-position: -54px 0;
    width: 17px;
    height: 27px
}

/*дождь/снег обложные*/
.wp_o3d9d_strong, .wp_o3d10d_strong, .wp_o1d9d_strong, .wp_o1d10d_strong {
    background-image: url("../images/sprites/sprite_wp_pr_dyn_strong.png");
    text-align: center;
    display: inline-block;
}

.wp_o3d9d_strong {
    background-position: 0 0;
    width: 17px;
    height: 27px
}

.wp_o3d10d_strong {
    background-position: -18px 0;
    width: 17px;
    height: 27px
}

.wp_o1d9d_strong {
    background-position: -36px 0;
    width: 17px;
    height: 27px
}

.wp_o1d10d_strong {
    background-position: -54px 0;
    width: 17px;
    height: 27px
}

/*Дождь со снегом*/
.wp_o2d9_strong, .wp_o2d10_strong {
    background-image: url("../images/sprites/sprite_wp_pr_mix_strong.png");
    text-align: center;
    display: inline-block;
}

.wp_o2d9_strong {
    background-position: 0 0;
    width: 17px;
    height: 27px
}

.wp_o2d10_strong {
    background-position: -18px 0;
    width: 17px;
    height: 27px
}

.knopka_right_blue, .knopka_right_gray, .vertical_grad_blue, .vertical_grad_gray, .knopka_right-00_gray, .knopka_right-00_blue, .knopka_left-00_gray, .knopka_left_blue, .knopka_left_gray, .knopka_left-00_blue {
    background-image: url("../images/sprites/sprite_fc_selector_borders_1.png");
    text-align: center;
    display: inline-block;
}

.knopka_right_blue {
    background-position: 0 0;
    width: 22px;
    height: 35px
}

.knopka_right_gray {
    background-position: -27px 0;
    width: 22px;
    height: 35px
}

.vertical_grad_blue {
    background-position: -54px 0;
    width: 1px;
    height: 35px
}

.vertical_grad_gray {
    background-position: -60px 0;
    width: 1px;
    height: 35px
}

.knopka_right-00_gray {
    background-position: -66px 0;
    width: 16px;
    height: 35px
}

.knopka_right-00_blue {
    background-position: -87px 0;
    width: 16px;
    height: 35px
}

.knopka_left-00_gray {
    background-position: -108px 0;
    width: 16px;
    height: 35px
}

.knopka_left_blue {
    background-position: -129px 0;
    width: 22px;
    height: 35px
}

.knopka_left_gray {
    background-position: -156px 0;
    width: 22px;
    height: 35px
}

.knopka_left-00_blue {
    background-position: -5px -40px;
    width: 16px;
    height: 35px
}